.destaques .cursos-oferecidos {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase; }
  @media (max-width: 575.98px) {
    .destaques .cursos-oferecidos {
      display: block;
      text-align: center; } }
  .destaques .cursos-oferecidos a {
    margin: 0 5px; }
