<div class="owl-carousel owl-theme videos">

    @@if (context.numerocards === 3) {
    <div class="item">
        <div class="card">
            <a data-fancybox data-src="https://www.youtube.com/watch?v=5JqCyBhL7L8"
                data-caption="Como regularizar o título de eleitor pela internet">
                <img class="video-img" src="https://lipsum.app/random/350x250"
                    alt="asdasdasdas  asdasdasdas   asdasdasdas   Como regularizar o título de eleitor pela internet">
            </a>
        </div>
        <figcaption text-center text-sm-start class="figcaption text-center text-sm-start">Title 1</figcaption text-center text-sm-start>
    </div>
    <div class="item">
        <div class="card">
            <a data-fancybox data-src="https://www.youtube.com/watch?v=0iDU367gDho"
                data-caption="Nome social no título de eleitor: como colocar">
                <img class="video-img" src="assets/img/destaques/dia-a-dia-mais-agil.jpg"
                    alt="asdasdasdas  asdasdasdas   asdasdasdas   Nome social no título de eleitor: como colocar">
            </a>
        </div>
        <figcaption text-center text-sm-start class="figcaption text-center text-sm-start">Title 1</figcaption text-center text-sm-start>
    </div>
    <div class="item">
        <div class="card">
            <a data-fancybox data-src="https://www.youtube.com/watch?v=5HQFg_-oBZ8"
                data-caption="Serviços para o título de eleitor pela internet">
                <img class="video-img" src="assets/img/destaques/prestacao-de-contas-eleitorais.jpg"
                    alt="asdasdasdas  asdasdasdas   asdasdasdas   Serviços para o título de eleitor pela internet">
            </a>
        </div>
        <figcaption text-center text-sm-start class="figcaption text-center text-sm-start">Title 1</figcaption text-center text-sm-start>
    </div>
    }

    @@if (context.numerocards === 5) {
    <div class="item">
        <div class="card">
            <a data-fancybox data-src="https://www.youtube.com/watch?v=5JqCyBhL7L8"
                data-caption="Como regularizar o título de eleitor pela internet">
                <img class="video-img" src="https://lipsum.app/random/350x250"
                    alt="asdasdasdas  asdasdasdas   asdasdasdas   Como regularizar o título de eleitor pela internet">
            </a>
        </div>
        <figcaption text-center text-sm-start class="figcaption text-center text-sm-start">Legenda da imagem 1</figcaption text-center text-sm-start>
    </div>
    <div class="item">
        <div class="card">
            <a data-fancybox data-src="https://www.youtube.com/watch?v=0iDU367gDho"
                data-caption="Nome social no título de eleitor: como colocar">
                <img class="video-img" src="https://lipsum.app/id/24/700x350"
                    alt="asdasdasdas  asdasdasdas   asdasdasdas   Nome social no título de eleitor: como colocar">
            </a>
        </div>
        <figcaption text-center text-sm-start class="figcaption text-center text-sm-start">Legenda da imagem 2</figcaption text-center text-sm-start>
    </div>
    <div class="item">
        <div class="card">
            <a data-fancybox data-src="https://www.youtube.com/watch?v=5HQFg_-oBZ8"
                data-caption="Serviços para o título de eleitor pela internet">
                <img class="video-img" src="https://lipsum.app/id/25/350x900"
                    alt="asdasdasdas  asdasdasdas   asdasdasdas   Serviços para o título de eleitor pela internet">
            </a>
        </div>
        <figcaption text-center text-sm-start class="figcaption text-center text-sm-start">Legenda da imagem 3</figcaption text-center text-sm-start>
    </div>
    <div class="item">
        <div class="card">
            <a data-fancybox data-src="https://www.youtube.com/watch?v=Lf-gPVM-h2E"
                data-caption="Documentos para tirar o título o de eleitor">
                <img class="video-img" src="https://lipsum.app/id/26/500x250"
                    alt="asdasdasdas  asdasdasdas   asdasdasdas   Documentos para tirar o título o de eleitor">
            </a>
        </div>
        <figcaption text-center text-sm-start class="figcaption text-center text-sm-start">Legenda da imagem 4</figcaption text-center text-sm-start>
    </div>
    <div class="item">
        <div class="card">
            <a data-fancybox data-src="https://www.youtube.com/watch?v=iq5AmUKFnl0&t=5s"
                data-caption="Como transferir o título de eleitor pela internet">
                <img class="video-img" src="https://lipsum.app/id/27/700x500"
                    alt="asdasdasdas  asdasdasdas   asdasdasdas   Como transferir o título de eleitor pela internet">
            </a>
        </div>
        <figcaption text-center text-sm-start class="figcaption text-center text-sm-start">Legenda da imagem 5</figcaption text-center text-sm-start>
    </div>
    }
</div>