<section @@if (context.pagina === true) {id="conteudo"} class="duvidas @@if (context.pagina === true) {pagina-duvidas}">
    <div class="container">
        <div class="row">
            <div class="col">
                @@if (context.pagina === true) {
                <h2 class="titulo">Dúvidas?</h2>
                <p class="texto">CONFIRA AS PERGUNTAS MAIS FREQUENTES</p>

                <div class="accordion accordion-flush" id="painel-duvidas">
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="flush-heading-1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse-1" aria-expanded="false"
                                aria-controls="flush-collapse-1">
                                Acesso aos conteúdos após finalização
                            </button>
                        </h3>
                        <div id="flush-collapse-1" class="accordion-collapse collapse"
                            aria-labelledby="flush-heading-1" data-bs-parent="#painel-duvidas">
                            <div class="accordion-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce hendrerit elementum
                                    elementum. Sed mattis dui sed dui ultrices ornare. Aliquam non varius orci.
                                    Phasellus sem urna, accumsan quis gravida et, aliquam tristique dolor. Suspendisse
                                    potenti. Nunc ultricies, magna vitae imperdiet condimentum, lorem ligula mollis
                                    quam, nec tincidunt felis justo at ex. Fusce auctor tellus et metus luctus, vel
                                    scelerisque ipsum fringilla. Donec dignissim ex sit amet dapibus dapibus. Morbi
                                    pharetra massa vel augue maximus facilisis. Vivamus dui lacus, scelerisque dictum
                                    neque sed, aliquam iaculis ante. Quisque bibendum tellus sed venenatis volutpat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="flush-heading-2">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse-2" aria-expanded="false"
                                aria-controls="flush-collapse-2">
                                Atualização
                            </button>
                        </h3>
                        <div id="flush-collapse-2" class="accordion-collapse collapse"
                            aria-labelledby="flush-heading-2" data-bs-parent="#painel-duvidas">
                            <div class="accordion-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce hendrerit elementum
                                    elementum. Sed mattis dui sed dui ultrices ornare. Aliquam non varius orci.
                                    Phasellus sem urna, accumsan quis gravida et, aliquam tristique dolor. Suspendisse
                                    potenti. Nunc ultricies, magna vitae imperdiet condimentum, lorem ligula mollis
                                    quam, nec tincidunt felis justo at ex. Fusce auctor tellus et metus luctus, vel
                                    scelerisque ipsum fringilla. Donec dignissim ex sit amet dapibus dapibus. Morbi
                                    pharetra massa vel augue maximus facilisis. Vivamus dui lacus, scelerisque dictum
                                    neque sed, aliquam iaculis ante. Quisque bibendum tellus sed venenatis volutpat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="flush-heading-3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse-3" aria-expanded="false"
                                aria-controls="flush-collapse-3">
                                Cancelamento de inscrição
                            </button>
                        </h3>
                        <div id="flush-collapse-3" class="accordion-collapse collapse"
                            aria-labelledby="flush-heading-3" data-bs-parent="#painel-duvidas">
                            <div class="accordion-body">
                                <p>Phasellus a lectus ac sem porta tempor. Integer ullamcorper molestie nunc, vel
                                    volutpat urna. Praesent congue porttitor nisi sit amet fringilla. Fusce tellus
                                    ante, aliquet ac mattis sed, volutpat ut massa. Sed efficitur rhoncus gravida.
                                    Nunc ullamcorper elit at arcu iaculis tempor. Donec euismod, magna vitae
                                    pulvinar porta, libero magna ullamcorper mi, non mollis sem lorem eget odio.
                                    Aliquam mauris nulla, hendrerit quis luctus ut, vestibulum nec urna. Quisque
                                    vitae leo interdum felis congue vulputate.</p>
                                <p>Nullam justo libero, placerat eu rutrum sed, semper sed purus. Donec nec orci
                                    porta, ultricies purus vitae, molestie nisi. Quisque ornare quam nec lectus
                                    faucibus finibus. Pellentesque quis dapibus metus. Ut urna velit, rutrum sed
                                    neque eget, molestie auctor nunc. Aenean a sodales velit, ac venenatis felis.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="flush-heading-4">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse-4" aria-expanded="false"
                                aria-controls="flush-collapse-4">
                                Lorem Ipsum
                            </button>
                        </h3>
                        <div id="flush-collapse-4" class="accordion-collapse collapse"
                            aria-labelledby="flush-heading-4" data-bs-parent="#painel-duvidas">
                            <div class="accordion-body">
                                <p>Phasellus a lectus ac sem porta tempor. Integer ullamcorper molestie nunc, vel
                                    volutpat urna. Praesent congue porttitor nisi sit amet fringilla. Fusce tellus
                                    ante, aliquet ac mattis sed, volutpat ut massa. Sed efficitur rhoncus gravida.
                                    Nunc ullamcorper elit at arcu iaculis tempor. Donec euismod, magna vitae
                                    pulvinar porta, libero magna ullamcorper mi, non mollis sem lorem eget odio.
                                    Aliquam mauris nulla, hendrerit quis luctus ut, vestibulum nec urna. Quisque
                                    vitae leo interdum felis congue vulputate.</p>
                                <p>Nullam justo libero, placerat eu rutrum sed, semper sed purus. Donec nec orci
                                    porta, ultricies purus vitae, molestie nisi. Quisque ornare quam nec lectus
                                    faucibus finibus. Pellentesque quis dapibus metus. Ut urna velit, rutrum sed
                                    neque eget, molestie auctor nunc. Aenean a sodales velit, ac venenatis felis.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="flush-heading-5">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse-5" aria-expanded="false"
                                aria-controls="flush-collapse-5">
                                Lorem Ipsum
                            </button>
                        </h3>
                        <div id="flush-collapse-5" class="accordion-collapse collapse"
                            aria-labelledby="flush-heading-5" data-bs-parent="#painel-duvidas">
                            <div class="accordion-body">
                                <p>Phasellus a lectus ac sem porta tempor. Integer ullamcorper molestie nunc, vel
                                    volutpat urna. Praesent congue porttitor nisi sit amet fringilla. Fusce tellus
                                    ante, aliquet ac mattis sed, volutpat ut massa. Sed efficitur rhoncus gravida.
                                    Nunc ullamcorper elit at arcu iaculis tempor. Donec euismod, magna vitae
                                    pulvinar porta, libero magna ullamcorper mi, non mollis sem lorem eget odio.
                                    Aliquam mauris nulla, hendrerit quis luctus ut, vestibulum nec urna. Quisque
                                    vitae leo interdum felis congue vulputate.</p>
                                <p>Nullam justo libero, placerat eu rutrum sed, semper sed purus. Donec nec orci
                                    porta, ultricies purus vitae, molestie nisi. Quisque ornare quam nec lectus
                                    faucibus finibus. Pellentesque quis dapibus metus. Ut urna velit, rutrum sed
                                    neque eget, molestie auctor nunc. Aenean a sodales velit, ac venenatis felis.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                }
                @@if (context.pagina === false) {
                <h2 class="titulo">Dúvidas</h2>
                }
                <p class="texto">PROBLEMAS PARA ACESSAR O CURSO? PROBLEMAS COM CHAVE DE ACESSO? <br> CONTE COM A
                    AJUDA
                    DO NOSSO SUPORTE, SERÁ UM PRAZER TE ATENDER!</p>
                <p class="texto"><a href="#" class="btn">Fale conosco</a></p>
            </div>
        </div>
    </div>
</section>